/* Menu */
body
{
    margin: 0px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
header
{

    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 0;
    right: 0;
    left: 0;
    height: auto;
    background-color: #293561;
    color: #ffffff;
}
a
{
    color: #ffffff;
    text-decoration: none;
}
a:hover
{
    text-decoration: underline;
}
img
{
    width: 150px;
    height: auto;
    margin: 10px;
}
img:hover
{
    box-shadow: 0px 0px 7px #ffffff;
}
ul
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 20px;
    padding-left: 0;
    padding-right: 10px;
    list-style-type: none;
}
li
{
    margin-left: 20px;
    color: blue;
}
.li a
{
    color: #ffffff;
}
#button_inscription
{
    border: 1px solid #ffffff;
    border-radius: 20px;
    margin-right: 20px;
    padding: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
}
#button_inscription:hover
{
    background-color: rgba(255, 255, 255, 0.1);
}
#button_connexion:hover
{
    text-decoration: underline;
}
#button_deconnexion:hover, #button_admin:hover
{
    text-decoration: underline;
}
/* Mise en forme des billets */
#p-listPosts
{
    margin-left: 15%;
}
h1, h3
{
    text-align: center;
    color: #293561;
    text-decoration: underline;
}
h3
{
    background-color: #293561;
    color: white;
    font-size: 0.9em;
    margin-bottom: 0px;
}
.news p
{
    background-color: #CCCCCC;
    margin-top: 0px;
    padding: 10px 0px 20px 10px;
}
.news
{
    width: 70%;
    margin: auto;
}
#link-comments a, #links-edit-delete a
{
    float: right;
    margin-right: 10px;
    color: #f08080;
    font-weight: bold;
}
/* Mise en forme commentaires */
#btn_return_listPosts a, #btn_return_admin_page a
{
    margin-left: 20px;
    padding: 5px;
    border: 1px solid #293561;
    border-radius: 5px;
    background-color: #293561;
    color: #ffffff;
    font-weight: bold;
    text-decoration: none;
}
#btn_return_listPosts a:hover, #btn_return_admin_page a:hover
{
    background-color: #ffffff;
    color: #293561;
    font-weight: bold;
}
.fa-arrow-left
{
    margin: 3px;
}
#div-comments
{
    box-shadow: 0px 0px 7px #708090;
    border-radius: 10px;
    margin: 50px 50px 50px 50px;
    padding: 10px;
}
h2
{
    text-align: center;
}
#author, #comment, .input-add-new-post
{
    padding: 5px;
    margin-bottom: 10px;
    border: 1px solid #293561;
    border-radius: 5px;
}
#comment
{
    width: 400px;
    height: 150px;
}
#button_add_comment, #button_signup, #button_signin, #button-send-post, #button-edit-post
{
    padding: 5px;
    margin-bottom: 10px;
    border: 1px solid #293561;
    border-radius: 5px;
    background-color: #293561;
    color: #ffffff;
    font-weight: bold;
}
#button_add_comment:hover, #button_signup:hover, #button_signin:hover, #button-send-post:hover, #button-edit-post:hover
{
    background-color: #ffffff;
    color: #293561;
    font-weight: bold;
}
#button-report a
{
    color: blue;
}
/* PAGE INSCRIPTION */
#form-inscription, #form-connexion
{
    display: flex;
    justify-content: center;
    margin: 0px 30% 50px 30%;
    padding: 30px;
    border: 1px solid transparent;
    border-radius: 10px;
    box-shadow: 0px 0px 7px #708090; 
}
.input-inscription, .input-connexion, .input-add-new-post, #title-edition, #content-edition
{
    margin-bottom: 10px;
}
/* PAGE ADMINISTRATION */
.fa-plus
{
    margin-left: 100px;
    padding: 10px;
    background-color: #CCCCCC;
    color: #000000;
    border-radius: 50px;
    font-size: 1.5em; 
}
#form-add-new-post, #form-edition
{
    margin: 0px 10% 50px 10%;
    padding: 30px;
    border: 1px solid transparent;
    border-radius: 10px;
    box-shadow: 0px 0px 7px #708090;
}
#title-add-new-post, #title-edition
{
    width: 400px;
    height: auto;
}
#content-add-new-post, #content-edition
{
    width: 500px;
    height: 200px;
}



