/* MENU */
body
{
    margin: 0px;
}
header
{
    display: flex;
    margin: 0px;
    height: auto;
    background-color: #293561;
    color: #ffffff;
}
a
{
    color: blue;
    text-decoration: none;
}
img
{
    width: 20%;
    height: 80%;
    margin: 10px;
}
img:hover
{
    box-shadow: 0px 0px 7px #ffffff;
}
ul
{
    margin-left: 150px;
    padding-left: 0;
    padding-right: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
}
li
{
    margin-left: 20px;
    color: blue;
}
.li a
{
    color: #ffffff;
}
#button_inscription
{
    border: 1px solid #ffffff;
    border-radius: 20px;
    margin-right: 20px;
    padding: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
}
#button_inscription:hover
{
    background-color: rgba(255, 255, 255, 0.1);
}
#button_connexion:hover
{
    text-decoration: underline;
}
#button_deconnexion:hover, #button_admin:hover
{
    text-decoration: underline;
}
/* Mise en forme des billets */
h1, h3
{
    text-align: center;
    color: #293561;
    text-decoration: underline;
}
h3
{
    background-color: #293561;
    color: white;
    font-size: 0.9em;
    margin-bottom: 0px;
}
.news p
{
    background-color: #CCCCCC;
    margin-top: 0px;
}
.news
{
    width: 70%;
    margin: auto;
}
