/* Menu */
body
{
    margin: 0px;
    background-image: url("public/background.jpeg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
header
{
    display: flex;
    top: 0;
    right: 0;
    left: 0;
    height: auto;
    background-color: #293561;
    color: #ffffff;
}
a
{
    color: blue;
    text-decoration: none;
}
a:hover
{
    text-decoration: underline;
}
img
{
    width: 20%;
    height: 80%;
    margin: 10px;
}
img:hover
{
    box-shadow: 0px 0px 7px #ffffff;
}
ul
{
    margin-left: 150px;
    padding-left: 0;
    padding-right: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
}
li
{
    margin-left: 20px;
    color: blue;
}
.li a
{
    color: #ffffff;
}
#button_inscription
{
    border: 1px solid #ffffff;
    border-radius: 20px;
    margin-right: 20px;
    padding: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
}
#button_inscription:hover
{
    background-color: rgba(255, 255, 255, 0.1);
}
#button_connexion:hover
{
    text-decoration: underline;
}
#button_deconnexion:hover, #button_admin:hover
{
    text-decoration: underline;
}
/* Mise en forme des billets */
#p-listPosts
{
    margin-left: 15%;
}
h1, h3
{
    text-align: center;
    color: #293561;
    text-decoration: underline;
}
h3
{
    background-color: #293561;
    color: white;
    font-size: 0.9em;
    margin-bottom: 0px;
}
.news p
{
    background-color: #CCCCCC;
    margin-top: 0px;
}
.news
{
    width: 70%;
    margin: auto;
}
/* Mise en forme commentaires */
#btn_return_listPosts a
{
    margin-left: 20px;
    padding: 5px;
    border: 1px solid #293561;
    border-radius: 5px;
    background-color: #293561;
    color: #ffffff;
    font-weight: bold;
    text-decoration: none;
}
#btn_return_listPosts a:hover
{
    background-color: #ffffff;
    color: #293561;
    font-weight: bold;
}
.fa-arrow-left
{
    margin: 3px;
}
#div-comments
{
    box-shadow: 0px 0px 7px black;
    border-radius: 10px;
    margin: 50px 50px 50px 50px;
    padding: 10px;
}
h2
{
    text-align: center;
}
#author, #comment
{
    padding: 5px;
    margin-bottom: 10px;
    border: 1px solid #293561;
    border-radius: 5px;
}
#comment
{
    width: 400px;
    height: 150px;
}
#button_add_comment, #button_signup, #button_signin
{
    padding: 5px;
    margin-bottom: 10px;
    border: 1px solid #293561;
    border-radius: 5px;
    background-color: #293561;
    color: #ffffff;
    font-weight: bold;
}
#button_add_comment:hover, #button_signup:hover, #button_signin:hover
{
    background-color: #ffffff;
    color: #293561;
    font-weight: bold;
}
/* PAGE INSCRIPTION */
#form-inscription, #form-connexion
{
    display: flex;
    justify-content: center;
    margin: 0px 30% 50px 30%;
    padding: 30px;
    border: 1px solid black;
    border-radius: 10px;
}
.input-inscription, .input-connexion
{
    margin-bottom: 10px;
}
/* PAGE ADMINISTRATION */
.fa-plus
{
    margin-left: 100px;
    padding: 10px;
    background-color: #CCCCCC;
    color: #000000;
    border-radius: 50px;
    font-size: 1.5em; 
}





